html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;

}

body {
    flex: 1; 
    min-height: 100vh;
}

main {
    flex: 1; 
}


.logo-cabecera {
    width: 200px;
    height: 100px; 
    
}

.btn-secondary:hover{
    background-color: transparent;
    border-color: transparent;
    color: black;
}

.dropdown-toggle:hover,.dropdown-toggle:active, .dropdown-toggle:focus, .dropdown-toggle:enabled{
    background-color: transparent; 
    border-color: transparent;
    color: black;
}

#dropdownMenuButton:active, #dropdownMenuButton:focus {
    background-color: transparent; 
    border-color: transparent;
    color: black;
}


.contenedor-titulos {
    position: relative;
    background-size: cover;
    width: 100%; 
    padding: 80px 0; 
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.titulo {
    font-size: 2.5rem;
    margin: 0;
}

.eslogan {
    margin-top: 10px;
    font-size: 1.25rem;
}

.contenedor-busqueda {
    margin: 20px auto;
    border: 3px solid #3c3c3c;
    padding: 20px;
    max-width: 800px;
    border-radius: 5px;
    background-color: #fff;
}

.form-control {
    border-color: #3c3c3c;
    border: 3px solid #ccc;
}

.seccion-descubre {
    margin-top: 50px;
}

.contenedor-ciudades .ciudad img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: #ccc;
}
.img-ciudades {
    width: 200px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 15px; 
    display: block; 
    margin: 0 auto;
}
.img-ciudades:hover {
    border: 3px solid black !important;
}
.txt-ciudades {
    font-size: 1.2rem;
}

.campo-edad{
    margin-top: 10px;
}

.campo-edad .form-group {
    margin-bottom: 1rem;
}

.form-group label {
    margin-bottom: .5rem;
}

.mundo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}
.texto-mundo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control2.is-invalid {
    border-color: #dc3545;
}
.invalid-feedback {
    display: none;
    color: #dc3545;
}
.form-control2.error + .invalid-feedback {
    display: block;
}
.contenedor-alojamientos {
    position: relative;
    width: 100%; 
    text-align: center;
}

.mostrar-alojamientos {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #3c3c3c;
    max-width: 800px;
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;
    padding-bottom: 40px;
}

.hotel-imagen {
    flex-shrink: 0; 
}

.imagen-portada-alojamiento {
    width: 150px;
    height: auto; 
    border: 3px solid #3c3c3c;
    border-radius: 5px;
}

.hotel-info {
    flex: 1;
}

.hotel-info h5 {
    margin-top: 30px;
}


.imagen-portada-alojamiento {
    float: left;      
    margin-right: 15px; 
    width: 150px;    
    margin-top: 33px;
    margin-left: 15px;
    border: 3px solid #3c3c3c;
    border-radius: 5px;
}

.invalid-feedback {
    display: none;
    color: #dc3545;
}

.invalid-feedback.show {
    display: block;
}

.reservar{
    margin-left: 400px;
    max-width: 100%;
}

.alert,.alert-danger,.alert-success{
    max-width: 400px; 
    margin: 0 auto;
    text-align: center;
}

#carouselExampleIndicators {
    max-width: 400px;
    margin: 0 auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}


.servicios{
    text-align: center;
}

.container {
    display: flex;
    justify-content: center; 
    padding: 20px; 
}

.carousel-container {
    overflow: hidden;
}



.form-group {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}


.form-row {
    display: flex;
    align-items: center; 
    margin-bottom: 10px; 
}

.form-row p {
    margin: 0; 
    margin-right: 10px; 
}

.form-row input {
    flex: 1; 
    max-width: 200px;
}
#validar-fechas{
    margin: auto;
}
#guardar-reserva{
    margin-left: 140px;
    margin-right: 100px;
}
.cuadro-resena {
    border: 3px solid #3c3c3c;
    border-radius: 5px;
    text-align: left;
    padding: 20px;
    height: 250px;
    width: 300px;
    flex: 1; 
    max-width: 100%; 
    min-width: 30%; 
    margin: 0 10px; 
}

.reseñas-carousel-control-prev {
    margin-left: -120px;
}

.reseñas-carousel-control-next {
    right: 10px; 
    margin-right: -120px;
}

.carousel-item {
    transition: none !important;
}


.exito-reserva {       
    justify-content: center;      
    align-items: center;          
    height: 50vh;                
    text-align: center; 
    display: block;            
    margin: 0 auto;     
}


.titulo-reserva{
    text-align: center;
}

.enlace-reserva{
    text-align: center;
    display: block;             
    margin: 0 auto;  
    font-size: 20px;
}


.btn-secondary.icono-user {
    background-color: transparent; 
    border: none; 
    color: inherit; 
    outline: none; 
    text-decoration: none; 
}


.btn-secondary.icono-user i {
    color: inherit; 
}


.btn-secondary.icono-user:active {
    background-color: transparent; 
    color: inherit; 
}


.btn-secondary.icono-user:focus {
    background-color: transparent; 
    box-shadow: none; 
    color: inherit; 
}


.btn-secondary.icono-user:hover {
    background-color: transparent; 
    color: inherit; 
}


.btn-secondary.icono-user:active i {
    color: inherit; 
}

@media (max-width: 768px) {
    .user-name {
        margin-left: 100px;
    }

    .enlace-resena{
        margin-top: 0px;
        margin-right: 0px;
    }
    
    .fa-right-from-bracket {
        font-size: 14px; 
    }
    
    .icono-user {
        padding: 5px 10px; 
    }

    .carousel-control-prev,
    .carousel-control-next {
    margin-left: 20px;
    margin-right: 20px;
    }
}

@media (max-width: 992px) {
    .user-name {
        margin-left: 100px;
    }

    .enlace-resena{
        margin-top: 0px;
        margin-right: 0px;
    }
    
    .fa-right-from-bracket {
        font-size: 14px; 
    }
    
    .icono-user {
        padding: 5px 10px; 
    }

    .carousel-control-prev,
    .carousel-control-next {
    margin-left: 10px;
    margin-right: 10px;
    }
}

@media (max-width: 1200px){
    .user-name {
        margin-left: 100px;
    }

    .enlace-resena{
        margin-top: 0px;
        margin-right: 0px;
    }
    
    .fa-right-from-bracket {
        font-size: 14px; 
    }
    
    .icono-user {
        padding: 5px 10px; 
    }

    .carousel-control-prev,
    .carousel-control-next {
    margin-left: 10px;
    margin-right: 10px;
    }
}




@media (max-width: 576px) {
    .cuadro-resena {
        width: 100%; 
        padding: 10px;
    }
}


@media (min-width: 577px) and (max-width: 768px) {
    .cuadro-resena {
        width: 100%; 
        padding: 15px;
    }
}


@media (min-width: 769px) and (max-width: 992px) {
    .cuadro-resena {
        width: 45%; 
        margin: 0 10px; 
    }
}


@media (min-width: 993px) {
    .cuadro-resena {
        width: 30%; 
        margin: 0 10px;
    }

    .reseñas-carousel-control-prev {
        margin-left: -120px;
    }
    
}
