header {
    background: url('../../images/inicio/fondo-logo.jfif') no-repeat center center, #D4AF37;
    background-size: cover;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 1rem;
    width: 100%;
}

.logo-cabecera {
    width: 200px;
    height: 100px; 
    
}

.icono-user{
    position: absolute;
    right: 1rem; 
    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
    background-color: transparent;
    border-color: transparent;
    color: black;
    box-shadow: none !important; 
    outline: none !important;
}


.icono-menu,.dropdown, .dropdown-toggle {
    position: absolute;
    left: 1rem;
    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
    background-color: transparent;
    border-color: transparent;
    color: black;
    bottom: 20px;
}

.dropdown-toggle:hover,.dropdown-toggle:active, .dropdown-toggle:focus, .dropdown-toggle:enabled{
    background-color: transparent; 
    border-color: transparent;
    color: black;
}

#dropdownMenuButton:active, #dropdownMenuButton:focus {
    background-color: transparent; /* No cambia de color al pasar el ratón */
    border-color: transparent;
    color: black;
}


.contenedor-titulos {
    position: relative;
    background: url('../../images/inicio/fondo-body.jpg') no-repeat center center, #D4AF37;
    background-size: cover;
    width: 100%; 
    padding: 100px 0; 
    text-align: center;
}

.titulo {
    font-size: 2.5rem;
    margin: 0;
}

.eslogan {
    margin-top: 10px;
    font-size: 1.25rem;
}

.contenedor-busqueda {
    margin: 20px auto;
    border: 3px solid #3c3c3c;
    padding: 20px;
    max-width: 800px;
    border-radius: 5px;
    background-color: #fff;
}

.form-control {
    border-color: #3c3c3c;
    border: 3px solid #ccc;
}

.seccion-descubre {
    margin-top: 50px;
}

.contenedor-ciudades .ciudad img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: #ccc;
}
.img-ciudades {
    width: 200px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 15px; 
    display: block; 
    margin: 0 auto;
}
.img-ciudades:hover {
    border: 3px solid black !important;
}
.txt-ciudades {
    font-size: 1.2rem;
}

footer {
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    background: url('../../images/inicio/fondo-logo.jfif') no-repeat center center, #D4AF37;
    background-size: cover;
    height: 120px; 
    align-items: center;
    justify-content: center; 
    position: relative;
    width: 100%;
}

.campo-edad{
    margin-top: 10px;
}

.campo-edad .form-group {
    margin-bottom: 1rem;
}

.form-group label {
    margin-bottom: .5rem;
}

.mundo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}
.texto-mundo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control2.is-invalid {
    border-color: #dc3545;
}
.invalid-feedback {
    display: none;
    color: #dc3545;
}
.form-control2.error + .invalid-feedback {
    display: block;
}