html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
}

body {
    flex: 1; 
    min-height: 100vh;
}

main {
    flex: 1; 
}

.logo-cabecera {
    width: 200px;
    height: 100px; 
    
}

.btn-secondary:hover{
    background-color: transparent;
    border-color: transparent;
    color: black;
}

.dropdown-toggle:hover,.dropdown-toggle:active, .dropdown-toggle:focus, .dropdown-toggle:enabled{
    background-color: transparent; 
    border-color: transparent;
    color: black;
}

#dropdownMenuButton:active, #dropdownMenuButton:focus {
    background-color: transparent; 
    border-color: transparent;
    color: black;
}


.btn-secondary.icono-user {
    background-color: transparent; 
    border: none; 
    color: inherit; 
    outline: none; 
    text-decoration: none; 
}


.btn-secondary.icono-user i {
    color: inherit; 
}


.btn-secondary.icono-user:active {
    background-color: transparent; 
    color: inherit; 
}


.btn-secondary.icono-user:focus {
    background-color: transparent; 
    box-shadow: none; 
    color: inherit; 
}


.btn-secondary.icono-user:hover {
    background-color: transparent; 
    color: inherit; 
}


.btn-secondary.icono-user:active i {
    color: inherit; 
}


.contenedor-titulos {
    position: relative;
    background: url('../../images/inicio/fondo-body.jpg') no-repeat center center, #D4AF37;
    background-size: cover;
    width: 100%; 
    padding: 100px 0; 
    text-align: center;
}

.titulo {
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
}

.eslogan {
    margin-top: 10px;
    font-size: 1.25rem;
}

.contenedor-busqueda {
    margin: 20px auto;
    border: 3px solid #3c3c3c;
    padding: 20px;
    max-width: 800px;
    border-radius: 5px;
    background-color: #fff;
}

.form-control {
    border-color: #3c3c3c;
    border: 3px solid #ccc;
}

.seccion-descubre {
    margin-top: 50px;
}

.contenedor-ciudades .ciudad img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: #ccc;
}
.img-ciudades {
    width: 200px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 15px; 
    display: block; 
    margin: 0 auto;
}
.img-ciudades:hover {
    border: 3px solid black !important;
}
.txt-ciudades {
    font-size: 1.2rem;
}

.campo-edad{
    margin-top: 10px;
}

.campo-edad .form-group {
    margin-bottom: 1rem;
}

.form-group label {
    margin-bottom: .5rem;
}

.mundo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}
.texto-mundo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control2.is-invalid {
    border-color: #dc3545;
}
.invalid-feedback {
    display: none;
    color: #dc3545;
}
.form-control2.error + .invalid-feedback {
    display: block;
}

.invalid-feedback {
    display: none;
    color: #dc3545;
}

.invalid-feedback.show {
    display: block;
}

.cuadrado {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #3c3c3c;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 5px;
}

.cuadrado-central {
    width: 100%;
    height: 197px;
    display: flex;
    flex-direction: column; 
    border: 3px solid #3c3c3c;
    margin: 0; 
    border-radius: 5px;
    position: relative;
    padding: 15px; 
    box-sizing: border-box; 
}

.centros{
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
}

.icono-user2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 100px; 
    padding: 0;
}

.boton-perfil{
    font-size: 10px;
    margin-top: -40px;
}

.informacion-personal{
    text-decoration: underline;
    font-size: 15px;
    margin-top: -10px;
}

.email,.domicilio,.dni,.tlf{
    text-align: left;
    margin-left: 20px;
    font-size: 13px;
}

.detalles-usuario {
    text-decoration: underline;
    font-size: 15px;
    text-align: left; 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    box-sizing: border-box; 
}

.nombre {
    font-size: 13px;
    text-align: left; 
    margin-top: 5px; 
    padding: 0; 
    width: 100%; 
    box-sizing: border-box; 
}
.apellidos{
    font-size: 13px;
    text-align: left; 
    padding: 0; 
    width: 100%; 
    box-sizing: border-box; 
}
.email2{
    font-size: 13px;
    text-align: left; 
    padding: 0; 
    width: 100%; 
    box-sizing: border-box; 
}

.enlace-perfil {
    position: absolute;
    top: 10px; 
    right: 10px; 
    text-decoration: none; 
    color: #007bff; 
    font-size: 14px; 
}

.tabla-reservas {
    width: 100%; 
    border-collapse: collapse; 
    margin: 20px auto; 
    font-size: 12px; 
    height: 100px;
    border-radius: 5px;
}

.tabla-reservas th, 
.tabla-reservas td {
    border: 3px solid #3c3c3c; 
    border-radius: 5px;
    padding: 4px; 
    text-align: center; 
}

.tabla-reservas th {
    background-color: #859eca; 
}

.resenas {
    text-decoration: underline;
    font-size: 15px;
    text-align: left; 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    box-sizing: border-box; 
    position: absolute; 
    top: 10px; 
    left: 10px; 
}

.cuadrado {
    position: relative; 
    padding: 20px; 
    border-radius: 5px; 
}

.reseñas-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 0;
    box-sizing: border-box;
    margin: 0; 
    width: 100%; 
    margin-right: 0px;
    margin-bottom: 40px;
}

.contenedor-resena {
    display: flex; 
    align-items: center; 
    border: 3px solid #3c3c3c; 
    border-radius: 5px;
    border-radius: 5px; 
    padding: 10px; 
    width: 300px; 
    margin: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    box-sizing: border-box; 
}


.imagen-resena {
    width: 50px; 
    height: 50px; 
    object-fit: cover; 
    border-radius: 5px;
    margin-right: 10px; 
}

.nombre-hotel {
    margin: 0; 
    font-size: 14px;
    font-weight: bold;
}

.texto-resena {
    font-size: 12px; 
}

.menu-izquierda {
    position: absolute; 
    top: 10px; 
    left: 40px; 
    margin-top: 40px;
    overflow-x: auto;
}

.menu-izquierda ul {
    display: flex; 
    flex-wrap: nowrap; 
}

.menu-izquierda a {
    text-decoration: none; 
    color: black;
}

.menu-izquierda li {
    margin: 0 5px; 
}



@media (max-width: 992px){
    .menu-izquierda{
        margin-top: 20px;
    }
    .menu-izquierda ul {
        flex-direction: column; 
        align-items: flex-start; 
        font-size: 10px;
        
    }

    .menu-izquierda .divider {
        display: none; 
    }

    .menu-izquierda li {
        margin-bottom: 5px; 
    }
}

@media (max-width: 992px) {
    .reseñas-container{
        margin-top: 100px;
    }
    .contenedor-resena {
        width: 100%; 
        flex-direction: column; 
        align-items: flex-start; 
        font-size: 10px;
    }

    .enlace-resena{
        margin-top: 20px;
        margin-right: 70px;
    }

    .imagen-resena {
        width: 20px;
        height: 20px;
        margin-bottom: 0px; 
    }

    .resenas {
        font-size: 14px; 
    }
    .nombre-hotel,.texto-resena{
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .user-name {
        margin-left: 100px;
    }

    .enlace-resena{
        margin-top: 0px;
        margin-right: 0px;
    }
    
    .fa-right-from-bracket {
        font-size: 14px; 
    }
    
    .icono-user {
        padding: 5px 10px; 
    }
}

#graficaReservas {
    width: 100% !important;
    height: auto !important;
}

.menu-opciones{
    background-color: #d5d8dc;
    color: white;
}

.txt-opciones{
    font-size: 20px;
    text-decoration: underline;
    color: grey;
}

.txt-listado, .nav-link{
    color: grey;
}

.nav-link:hover, .nav-link:focus{
    color: grey;
}

@media (max-width: 768px) {
    .user-name {
        margin-left: 100px;
    }

    .enlace-resena{
        margin-top: 0px;
        margin-right: 0px;
    }
    
    .fa-right-from-bracket {
        font-size: 14px; 
    }
    
    .icono-user {
        padding: 10px 0px; 
    }

    .nav-link{
        text-align: center;
    }

    .table {
        border-radius: 0.5rem; 
        overflow: hidden; 
    }
    
    .table th, .table td {
        border: 1px solid #dee2e6; 
    }
    
}
